<div class="bg text-white">
  <div class="form">
      <form>
          <h5><b>Nome da seção:</b></h5>
          <input type="text" placeholder="exemplo: Rachel de Queiroz" class="input form-control">
          <div class="respostas">
              <h5><b>Respostas:</b></h5>
              <p class="subtitle">* selecione para indicar a resposta correta</p>
              <div class="alternativa">
                  <input type="radio" name="alternativa1" class="check"> <input type="text" name="alternativa1" class="input form-control">
              </div>
              <div class="alternativa">
                <input type="radio" name="alternativa2" class="check"> <input type="text" name="alternativa2" class="input form-control">
              </div>
              <div class="alternativa">
                <input type="radio" name="alternativa3" class="check"> <input type="text" name="alternativa3" class="input form-control">
            </div>
            <div class="alternativa">
                <input type="radio" name="alternativa4" class="check"> <input type="text" name="alternativa4" class="input form-control">
            </div>
          </div>
      </form>
  </div>
  <div class="instrucoes">
    <h5 class="margintitle"><b>Criando nova seção:</b></h5>
    <h6 class="margincontent"><b> 1° O nome do jogo e as alternativas </b></h6>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="avancar">
        <app-botao> Avançar </app-botao>
    </div>
</div>
</div>

