<div class="add-dicas">
  <div class="row">
    <div class="col-sm-6">
        <div class="titulo">
          <h5><b>2º Adicione dicas as suas respectivas casas:</b></h5>
        </div>
      <div class="row row-dica dica1">
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>01</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
        <div class="col-sm dica">
           <div class="num-dica">
             <h2>08</h2>
           </div>
           <input type="text" class="form-control input">
        </div>
      </div>
      <div class="row row-dica">
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>03</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>11</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
      </div>
      <div class="row row-dica">
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>05</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>13</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
      </div>
      <div class="row row-dica">
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>07</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
        <div class="col-sm dica">
            <div class="num-dica">
              <h2>15</h2>
            </div>
            <input type="text" class="form-control input">
        </div>
      </div>
    </div>
    <div class="col-sm-5 tabueiro-dica">
      <img class="img"src="../../../assets/images/Tela de codigo gerado.png" alt="">
    </div>
  </div>

  <div class="botoes">
    <div class="voltar">
      <app-botao  routerLink = "page-criar-secao/gerarcodigo"> Voltar </app-botao>
    </div>
    <div >
      <app-botao class="avancar" routerLink= "page-criar-secao/criarsecao"> Avançar </app-botao>
    </div>
  </div>
</div>