<div class="text-white add-pergunta">
    <div class= "row">
        <div class="col-sm-5">
            <div class="form">
                <form>
                    <h5><b>Nome da seção:</b></h5>
                    <input type="text" placeholder="exemplo: Rachel de Queiroz" class="input form-control"><br/>
                    <h5><b>Descrição da seção:</b></h5>
                    <input type="text" placeholder="exemplo: Esta seção retrada a vida e memoria da escritora Rachel de Queiroz" class="input form-control">
                    <div class="respostas">
                        <h5><b>Respostas:</b></h5>
                        <p class="subtitle">* selecione para indicar a resposta correta</p>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="alternativa3" class="check">
                            </div>
                            <input type="text" class="form-control input">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="alternativa3" class="check">
                            </div>
                            <input type="text" class="form-control input">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="alternativa3" class="check">
                            </div>
                            <input type="text" class="form-control input">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="alternativa3" class="check">
                            </div>
                            <input type="text" class="form-control input">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="instrucoes">
                <h5 class=""><b>1° O nome da seção e as alternativas</b></h5>
                <p class="text">No campo ao lado digite o nome e a descrição da sua seção, de preferência
                    essas informações tem deve ter como base o conteúdo abordado na seção.
                    Logo abaixo, você deverá digitar quatro alternativas de respostas, 
                    contendo três falsas e uma verdadeira, e selecione a resposta correta, para indicá-la.
                    No final do jogo, os alunos deverão responder sobre qual o assunto da seção, e essas 
                    alternativas serão exibidas para que eles possam indicar a correta.
                </p>
                <img src="../../../assets/images/Group 35.png">
            </div>
        </div>
        <div class="botoes">
            <app-botao class="avancar" [routerLink] = "['/pagina-inicial','criarsecao','addDicas']"> Avançar </app-botao>
        </div>  
    </div>
</div>

