<div class="text-white add-pergunta">
    <div class= "row">
        <div class="col-sm-5">
            <div class="form">
                <form #secao1="ngForm">
                    <h5><b>Nome da seção:</b></h5>
                    <input type="text" placeholder="exemplo: Rachel de Queiroz" class="input form-control" [(ngModel)]="titulo" name="titulo" required #stitulo="ngModel"><br/>
                    <h5><b>Descrição da seção:</b></h5>
                    <input type="text" placeholder="exemplo: Esta seção retrada a vida e memoria da escritora Rachel de Queiroz" class="input form-control" [(ngModel)]="descricao" name="descricao" required #sdescricao="ngModel">
                    <div class="respostas">
                        <h5><b>Respostas:</b></h5>
                        <p class="subtitle">* selecione para indicar a resposta correta</p>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="check1" class="check" [(ngModel)]="opcao" value="0">
                            </div>
                            <input type="text" class="form-control input" [(ngModel)]="alternativa1" name="alternativa1" required #salternativa1="ngModel">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="check2" class="check" [(ngModel)]="opcao" value="1">
                            </div>
                            <input type="text" class="form-control input" [(ngModel)]="alternativa2" name="alternativa2" required #salternativa2="ngModel">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="check3" class="check" [(ngModel)]="opcao" value="2">
                            </div>
                            <input type="text" class="form-control input" [(ngModel)]="alternativa3" name="alternativa3" required #salternativa3="ngModel">
                        </div>
                        <div class="alternativa">
                            <div class="num-alternativa">
                                <input class="radios" type="radio" name="check4" class="check" [(ngModel)]="opcao" value="3">
                            </div>
                            <input type="text" class="form-control input" [(ngModel)]="alternativa4" name="alternativa4" required #salternativa4="ngModel">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="instrucoes">
                <h5 class=""><b>1° O nome da seção e as alternativas</b></h5>
                <p class="text">No campo ao lado digite o nome e a descrição da sua seção, de preferência
                    essas informações tem deve ter como base o conteúdo abordado na seção.
                    Logo abaixo, você deverá digitar quatro alternativas de respostas, 
                    contendo três falsas e uma verdadeira, e selecione a resposta correta, para indicá-la.
                    No final do jogo, os alunos deverão responder sobre qual o assunto da seção, e essas 
                    alternativas serão exibidas para que eles possam indicar a correta.
                </p>
                <img src="../../../assets/images/Group 35.png">
            </div>
        </div>
        <div class="botoes">
            <app-botao class="avancar" (click)="criarSecao1($event)" [routerLink] = "['/pagina-inicial','criarsecao','addDicas']"> Avançar </app-botao>
        </div>  
    </div>
</div>

