<div class="page-detalhe-secao add-pergunta text-white">
  <div class="row">

    <div class="col-6 coluna-principal">
      <h5 class="nome-secao"> {{ secao.titulo }}  [ {{ secao.codigo }} ] </h5>
      <div class="descricao">
        <p>descricao</p>
      </div>
      <div class="palpites">
        <ul class="alternativas">
          <li>Alternativa 1</li>
          <li>Alternativa 2</li>
          <li>Alternativa 3</li>
          <li>Alternativa 4</li>
        </ul>
      </div>
    </div>

    <div class="col-6  coluna-principal">
      <div class="row">
        <div class="col-5">
          <ul>
            <li class="li-num-dica">
              <h4 class="num-dica">08</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">10</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">11</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">13</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">14</h4>
              <p class="dica">Dica</p>
            </li>
          </ul>
        </div>
        <div class="col-5">
          <ul>
            <li class="li-num-dica">
              <h4 class="num-dica">01</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">02</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">04</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">05</h4>
              <p class="dica">Dica</p>
            </li>
            <li class="li-num-dica">
              <h4 class="num-dica">07</h4>
              <p class="dica">Dica</p>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>