<div class=" text-white">
  <div class="instrucoes">
      <h5 class="marginl"><b> Criando nova seção </b></h5>
      <h6 class="margins"><b> 3° Confirme as dias que cadastrou e gere o código </b></h6>
      <p class="text marginl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
      <h6 class="margins"><b> 4° Pegue o código e distribua para os alunos </b></h6>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
      <div class="voltar">
          <app-botao> Voltar </app-botao>
      </div>
  </div>
  <div class="codigo-gerado">
    <div class="codigo-container">
      <p class="codigo"> VTX0987 </p>
    </div>
    <div class="gerar">
        <app-botao> Gerar </app-botao>
    </div>
  </div>
</div>