.nav-item{
    margin-left: 80px;
    font-size: 15pt;
}

.nav-link{
    color: rgb(71, 71, 71);
}

.nav-link:hover{
    color: black;
}

.ativo{
    padding-bottom: 5px;
    border-bottom: 2px solid #47C7DD;
}