<div class="page-inicial">

    <app-form-inicial></app-form-inicial>
    
    <img class ="logo"src="../../assets/images/arcos-branco.png" alt="">
  
    <div class="conteudo">
      <h4 class="titulo">Uma forma lúdica e divertida de aprender história</h4>
  
      <p>O Arcos é um jogo que utiliza a realidade aumentada para ensinar a história 
          local de forma lúdica e divertida. O jogo funciona como um complemento à 
          aula do professor, que pode criar diversas seções, com o intuito de reforçar 
          o conteúdo ensinado. Cada seção é referente a um assunto, e durante o jogo é 
          exibido aos alunos dicas sobre o mesmo. No final, os alunos devem responder 
          sobre qual assunto eles estavam jogando. Ao lado você pode se cadastrar para 
          começar a criar seções e utilizar o Arcos nas suas aulas!
        </p>
  
        <video class="video" width="500" height="300" controls>
            <source src="../../assets/videos/videoplayback.mp4" type="video/mp4">
        </video>
  
    </div>
  
   
  </div>