<div class="page-inicial">

    <app-form-inicial></app-form-inicial>
    
    <img class ="logo"src="../../assets/images/arcos-branco.png" alt="">
  
    <div class="conteudo">
      <h3 class="titulo">Bem vindo ao portal do professor</h3>
  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet 
       metus, eget ultrices sapien. Sed tincidunt malesuada massa, non pharetra 
        enim ultrices dapibus. Integer commodo molestie rutrum. Etiam eleifend eleifend condimentum. 
        Quisque at nibh lorem. Aenean massa ipsum, suscipit vel tortor ut, ultrices posuere purus.  Etiam eleifend eleifend condimentum. 
        Quisque at nibh lorem. Aenean massa ipsum, suscipit vel tortor ut, ultrices posuere purus. </p>
  
        <video class="video" width="500" height="300" controls>
            <source src="../../assets/videos/videoplayback.mp4" type="video/mp4">
        </video>
  
    </div>
  
   
  </div>